body {
  font-family: cursive;
  background-color: #0d1117;
  color: #c9d1d9;
}

h1 {
  color: cornflowerblue;
  text-shadow: 7px 7px 7px rgb(106, 50, 179);
}

a {
  color: #8b949e;
  text-decoration: none;
}

a:hover {
  color: khaki;
  font-size: 20px;
  text-shadow: 7px 7px 7px rgb(41, 41, 123);
  font-weight: bold;
}

a::after {
  content: "🐿️";
}

ul > li {
  font-weight: bold;
  text-shadow: 5px 5px 7px rgb(126, 212, 212);
}

ul > li:hover {
  color: rgb(210, 239, 251);
  text-shadow: 5px 5px 7px rgb(205, 169, 122);
  font-size: 20px;
  background-color: rgb(204, 195, 171);
}

ul li::before {
  content: "😼";
}

ul li:nth-child(3) {
  background-color: silver;
}

p::first-letter {
  font-size: 200%;
  color: cadetblue;
}
